/.claude
/.venv
/.env
__pycache__/
*.pyc
/architectural_style_images/
/models/yolo/
/conf/apikeys.yaml
~*
Documentation/
checkpoints/
checkpoints_tuning/
conf/
data/
notebooks/
/mlruns
mlflow.db
claude.md
